// Landing Page
// ============
#main-landing {
	#sec1 {
		@include parlxImage('../images/backgrounds/landing/bg9.jpg');
		#landing-copy {
			opacity: 0;
			position: absolute;
	    	top: 30%;
	    	left: 10%;
	    	width: 30%;
	    	min-width: 250px;
	    	padding: 2%;
	    	background-color: rgba($lightBlue, 0.88);
	    	color: #fff;
	    	-webkit-transform: translateX(-20%);
	        -moz-transform: translateX(-20%);
	        -ms-transform: translateX(-20%);
	        transform: translateX(-20%);
	        transition: all 1s;
	    	h1 {
	    		padding-bottom: 0.4em;
	    		font-family: $headFont;
	    		font-size: 2em;
	    		font-weight: lighter;
	    		letter-spacing: 0.1em;
	    		border-bottom: 1px solid #FFF;
	    	}
	    	p {
	    		font-size: 1.1em;
	    	}
	    	&.showing {
	    		opacity: 1;
	    		-webkit-transform: translateX(0%);
		        -moz-transform: translateX(0%);
		        -ms-transform: translateX(0%);
		        transform: translateX(0%);
	    	}
		}
		#keep-scrolling {
			position: absolute;
			bottom: 10%;
			left: 50%;
			font-size: 3.5em;
			color: $lightPink;
			-webkit-animation: scrolls 1.2s ease-out infinite;
		}	
	}


	#sec2, #sec4, #sec6 { 
	 @include dividerSection($lightPink, $pinkSand);
	}

	#sec3, #sec5 { 
		@include parlxImage('../images/backgrounds/landing/bg2.jpg');
		
		.second-col {
			height: 100%;
			padding: 5%;
			padding-top: 15%;
			background-color: rgba($lightBlue, 0.88);
			color: #FFF;
			-webkit-transform: translateX(20%);
	        -moz-transform: translateX(20%);
	        -ms-transform: translateX(20%);
	        transform: translateX(20%);
	        transition: all 1.3s;
	    	opacity: 0;
	    	@media (max-width: $mainNavBreakPoint) {
				font-size: 0.8em;
			}
	        &.showing {
	    		opacity: 1;
	    		-webkit-transform: translateX(0%);
		        -moz-transform: translateX(0%);
		        -ms-transform: translateX(0%);
		        transform: translateX(0%);
	    	}
			p {
				font-size: 1.5em;
				margin-bottom: 1.5em;
			}
			.btn-style-1 {
				@include btnOne($lightPink, $lightBlue, $mainNavBreakPoint);
			}
		}
	}

	#sec5 { 
		@include parlxImage('../images/backgrounds/landing/bg7.jpg');
	}

	#sec7 { 
		@include parlxImage('../images/backgrounds/landing/bg6.jpg');
		padding-top: 8em;
		.copy {
			background-color: rgba($pinkSand, 0.70);
			padding: 3%;
			margin: 0 auto;
	    	display: block;
	    	float: none;
	    	opacity: 0;
	    	-webkit-transform: translateY(-20%);
		    -moz-transform: translateY(-20%);
		    -ms-transform: translateY(-20%);
		    transform: translateY(-20%);
		    -webkit-transition: all 1.5s;
		    -moz-transition: all 1.5s;
		    -ms-transition: all 1.5s;
		    transition: all 1.5s;
			h2 {
				color: $lightPink;
				padding-bottom: 0.4em;
	    		font-family: $headFont;
	    		font-size: 1.5em;
	    		letter-spacing: 0.1em;
	    		text-align: center;
	    		margin-bottom: 1.5em;
			}
			.btn-style-2 {
				@include btnOne($lightPink, $pinkSand, $mainNavBreakPoint);
				font-size: 1.2em;
				margin-bottom: 1.5em;
			}
			&.showing {
	    		opacity: 1;
	    		-webkit-transform: translateX(0%);
		        -moz-transform: translateX(0%);
		        -ms-transform: translateX(0%);
		        transform: translateX(0%);
	    	}
		}
	}
}










