// _mixins
// ========
@mixin backImage($image) {
  background: url($image) no-repeat 50% 20% ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
 
  @media (min-width: 801px) {
   height: 550px;
  }
 
  @media (max-width: 800px) {
   height: 550px;
  }
 
  @media (max-width: 300px) {
   height: 300px;
  }
}

//==========

@mixin parlxImage($image) {
  background: url($image) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
 
  @media only screen and (max-device-width: 1024px) {
    background-attachment: scroll;
  }

  @media (min-width: 801px) {
    height: 550px;
  }
 
  @media (max-width: 800px) {
    height: 550px;
  }
 
  @media (max-width: 300px) {
    height: 300px;
  }

}
//===========
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
//===========
@mixin animBoostrapMenuBttn($showWidth, $barColor) {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  width: 15px;
  height: 15px;
  margin-top: 22.5px;
  display: none;
  user-select: none;
  box-sizing: content-box;
  cursor: pointer;
  @media (max-width: $showWidth) {
    opacity: 1;
    display: inline-block;
  }
  .one,
  .two,
  .three {
    width: 100%;
    height: 2px;
    background: $barColor;
    margin-bottom: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
  }
  .one,
  .two {
    transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
  }
  &[aria-expanded="true"] {
    .one {
      transform: rotate3d(0, 0, 1, 45deg);
      -webkit-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
    }
    .two {
      opacity: 0;
    }
    .three {
      transform: rotate3d(0, 0, 1, -45deg);
      -webkit-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }
  }
}
