// _modules.scss
// ============

// Header
// ============
#main-header {
	position: fixed;
	width: 100%;
	background-color: rgba($lightPink, 0.92);
	font-family: $bodyFont;

	#main-head-container {
		padding: 0.5em 0px;
	}
	.topBar {
		background-color: $lightBlue;
		padding: 3px;
		padding-top: 6px;
		color: #fff;
		ul {
			padding-right: 12px;
			margin-bottom: 0px;
			li {
				margin-left: 1em;
				a {
					color: $lightPink;
					font-size: 1.2em;
				}
			}
		}
		.container {
			padding: 0px;
		}
	}
	#main-nav {
		padding-top: 0.8em;
		@media (max-width: $mainNavBreakPoint) {
			width: 100%;	
		}
		li {
			@media (max-width: $mainNavBreakPoint) {
				width: 100%;	
			}
			a {
				font-size: 1.1em;
				background-color: transparent;
				color: $pinkSand;
				border-bottom: 1px solid transparent;
				border-radius: 0px;
				transition: all 0.5s;
				&:hover {
			        color: $lightBlue;
			        border-bottom: 1px solid $lightBlue;
			    }
			    &:active {
			        color: $lightBlue;
			    }
			}
		}
	}
	#main-menu-toggler {
		@include animBoostrapMenuBttn($mainNavBreakPoint, $lightBlue);
		@media (max-width: $mainNavBreakPoint) {
			margin-right: 0px;
		}
	}
	.navbar-collapse {
		padding-right: 0px;
		overflow: hidden;
		@media (max-width: $mainNavBreakPoint) {
			width: 98%;
			float: none !important;
			margin-left: 0px;
			padding-bottom: 1em;
		}
		li {
			a {
				@media (max-width: $mainNavBreakPoint) {
					padding-left: 0px;
				}
			}
		}
	}
}

// Landing
// ============
#landing {
	@include parlxImage('../images/backgrounds/landing/bg9.jpg');
	#landing-copy {
		opacity: 0;
		position: absolute;
    	top: 30%;
    	left: 10%;
    	width: 30%;
    	min-width: 250px;
    	padding: 2%;
    	background-color: rgba($lightBlue, 0.88);
    	color: #fff;
    	-webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        transform: translateX(-20%);
        transition: all 1s;
    	h1 {
    		padding-bottom: 0.4em;
    		font-family: $headFont;
    		font-size: 2em;
    		font-weight: lighter;
    		letter-spacing: 0.1em;
    		border-bottom: 1px solid #FFF;
    	}
    	p {
    		font-size: 1.1em;
    	}
    	&.showing {
    		opacity: 1;
    		-webkit-transform: translateX(0%);
	        -moz-transform: translateX(0%);
	        -ms-transform: translateX(0%);
	        transform: translateX(0%);
    	}
	}
	#keep-scrolling {
		position: absolute;
		top: 81%;
		left: 50%;
		font-size: 3.5em;
		color: $lightPink;
		-webkit-animation: scrolls 1.2s ease-out infinite;
	}	
}


#sec2 { 
	h1 {
		padding: 2%;
    	background-color: rgba($lightBlue, 0.88);
    	color: #fff;
    	-webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        transform: translateX(-20%);
        transition: all 1s;
        opacity: 0;

        &.showing {
    		opacity: 1;
    		-webkit-transform: translateX(0%);
	        -moz-transform: translateX(0%);
	        -ms-transform: translateX(0%);
	        transform: translateX(0%);
    	}
	}


}
