// _variables.scss
// =================
// importing gooogle fonts
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika|Lato";
//colors
$lightPink        : #F9F6F2;
$pinkSand         : #d0ad8a;
$lightBlue		  : #79b3c4;
//fonts
$headFont : 'Lato', sans-serif;
$bodyFont : 'Inika', serif;